a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
.ul6 li {
  padding: 7px;
}
.ul6 {
  width: fit-content;
}
.ul7 li {
  padding: 7px;
}
.ul7 {
  width: fit-content;
}
.ul6 li,
.ul7 li,
.ul8 li {
  font-size: 1.2vw;
}
.ul8 li {
  padding: 7px;
}
.ul8 {
  width: fit-content;
}
.column2{
    background-color: lightgray;
    height: 625px;
}
.ul9{
    margin-top: 50px;
    margin-right: 70px;
}
.ul9 li{
    padding: 15px;
    /* width: 20px; */
}
.ul10 li{
    padding: 10px;
    /* width: fit-content; */
    display: inline;
}
.ul10{
    width: 85%;
    height: 100%;
    /* position: fixed; */
}
.ul10 li span{
    margin-right: 70%;
    font-weight: 700;
}
.ul10 a{
    width: 200px;
}